.strong-wins {   fill:rgba(58, 201, 226, 1) !important;}
.weak-wins {   fill:rgba(26, 65, 107, 1) !important;}
.strong-losses {   fill:rgba(238, 214, 50, 1) !important;}
.weak-losses {   fill:rgba(215, 152, 16, 1) !important;}
