.strong-wins {   fill:rgba(66, 184, 189, 1) !important;}
.weak-wins {   fill:rgba(35, 93, 120, 1) !important;}
.strong-losses {   fill:rgba(239, 201, 32, 1) !important;}
.weak-losses {   fill:rgba(227, 180, 35, 1) !important;}
